html {
  background-color: #163240;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#grid-container {
  display: grid;
  grid-template-rows: 40px 40px 40px 40px 40px;
  width: 200px;
  margin-left: 50%;
  position: absolute;
  left: -100px;
  font-size: 30px;
  padding-bottom: 10px;
}

.labels {
  color: #ffeecc;
}

input {
  font-size: 18px;
}

button {
  font-size: 20px;
}

#loginBtn {
  width: 227px;
}

a {
  color: #d94e41;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
